.header_img {
    max-width: 163px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
}

.nav_list {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.nav_link {
    color: #83888F;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
    white-space: nowrap;
}

.header_button {
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-image: url(../img/header_menu.svg);
    width: 16px;
    height: 15px;
}

@media screen and (min-width: 667px) {
    .nav_list {
        display: flex;
        width: 283px;
    }

    .header_button {
        display: none;
    }

    .header_img {
        max-width: 236px;
    }
}

@media screen and (min-width: 992px) {
    .nav_list {
        width: 283px;
    }

    .nav_link {
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        /* 125% */
        letter-spacing: 0.923px;
        text-transform: uppercase;

    }
}